*{
  font-family: 'Fira Sans', sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky +.content {
  padding-top: 102px;
}

.header{
  padding: 20px;
  border-bottom: 1px solid black;
  background: url("waterrrrr.jpg");
  /* width: 100%; */
}

a{
  padding: 15px;
}


body {
    margin: 0px;
    padding: 0px;
}

.name-header{
  padding: 25px;
}

.top-nav{
  display: flex;
  /* justify-content: space-between */
}

.name{
  align-self: flex-start;
}

.projects{
  margin-top: 100px;
}
.project-card{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: .2px solid darkgrey;
  margin-top: 15px;
}

.project-header{
  text-align: center;
  font-size: 50px;
}


.project-img{
  width: 100%;
  height: 100%;
}

.project-link{
  color: black;
  font-size: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: white;
}


img {
  border-radius: 5px 5px 0 0;
}

.project-desc{
  text-align: center;
  padding: 15px;
}

.project-nav{
  color: black;
}

.project-links{
  text-align: center;
}

a:link, a:visited {
    color: rgb(131, 185, 255);
    text-decoration: none;
}

.name{
  font-size: 40px;
}

.about-me{
  font-size: 25px;
  align-self: flex-end;
  /* margin-bottom: 0; */
}

.aboutMe{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

body{
  background-color: #d3d4d6
}

.contact{
  text-align: center;
}

.contact-img{
  height: 50px;
  width: 50px;
}

.contact-images{
  display: flex;
  justify-content: center;
}

ul{
  list-style: none;
  padding: 0;
}

li{
 margin-bottom: 5px;
}

@media (max-width: 600px) {
 .about-me{
   width: 100%;
 }

 .aboutMe{
   display: flex;
   flex-direction: column;
   margin: auto;
   text-align: center;
   margin-bottom: 15px;

 }

 img{
   width: 50%;
   height: 50%;
   margin: auto;
 }

 .header{
   width: 100%;
   padding: 0;
 }
}

ul{
  padding-bottom: 15px;
}

.links:after {
    content: "";  
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    padding-top: 20px; 
    border-bottom: 1px solid black; 
}